<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>

  <body>
    
  <% include ../partials/nav %>    

    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container anchor" id="abt">
      <div class="abouta">
        <div class="header leander">
          <h3>About me</h3>
          <p>I have a degree in European Community Studies, a graduate Diploma in Economics and a Master's degree in Economics with special reference to Latin America. I speak fluent English, French, German, Luxembourgish and Spanish and I have lived in Europe, the Persian Gulf and in Latin America. A year ago, in 2015, I became interested in the web and its technologies. So I decided to learn to code. I then did an online web development course offered by Careerfoundry. Below is a list of my coding skills and a short version of my current CV.</p>
        </div><!--end header-->
      </div><!-- abouta -->

      <div class="jumbotron" id="primero">
        <div class="black">
          <h3 class="miskills">Programming skills</h3>
            <div class="codingskillz">
              <ul>
              <li>HTML and CSS</li>
              <li>Bootstrap Front End Framework</li>
              <li>Ruby on Rails MVC Framework</li>
              <li>User Authentication and Authorization</li>
              <li>Git Version Control</li>
              <li>Heroku</li>
              </ul>
            </div>
        </div><!--black-->
  
        <div class="row"> 
        <div class="modal-button">
          <!-- Large modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">An abridged CV</button>

          <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static"  data-keyboard="false">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Waseem's CV</h4>
                </div>
                <div class="modal-body">
                  <embed id="modalembed" src="/public/img/Waseem Nawaz CV English short.pdf">
                </div>
              </div>
            </div>
          </div>
        </div><!-- modal-button -->
        </div><!--row-->
      </div><!-- jumbotron -->
      <!--/div--><!-- abouta -->
    </div><!-- end container abt -->
   
    <div class="container anchor" id="work2">
      <div class="workintro">
        <h3>My work</h3>
        <p>Below are some of the static and Ruby on Rails sites that I have created. Some of the pages are slow to load at first as they are hosted on Heroku for free. So please be patient. The link to my Github is at the bottom of this site.</p>
      </div><!-- workintro -->
      
        <div class="row" id="rowes">
            <div class="col-md-4 portfolio-item">
                <a href="https://bikeberlin.herokuapp.com/">
                    <img class="img-responsive" src="/public/img/bike1.jpg" alt="">
                </a>
                <h3>
                    <a href="https://bikeberlin.herokuapp.com/">BikeBerlin</a>
                </h3>
                <p>A complete working Ruby on Rails website created as part of my Web Development course at Careerfoundry.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="https://maurowgomez.herokuapp.com/">
                    <img class="img-responsive" src="/public/img/maurow.jpg" alt="">
                </a>
                <h3>
                    <a href="https://maurowgomez.herokuapp.com/">Maurow Gómez</a>
                </h3>
                <p>A personal website, including a blog, made using Ruby on Rails.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="https://mynewblogg.herokuapp.com/">
                    <img class="img-responsive" src="/public/img/forest.jpg" alt="">
                </a>
                <h3>
                    <a href="https://mynewblogg.herokuapp.com/">Waseem's blog</a>
                </h3>
                <p>A blog made using Ruby on Rails. Still being improved.</p>
            </div>
        </div>
        <!-- /.row -->

        <div class="row" id="rowesone">
            <div class="col-md-4 portfolio-item">
                <a href="https://alpacasweatr.herokuapp.com/">
                    <img class="img-responsive" src="/public/img/sweatr12.jpg" alt="">
                </a>
                <h3>
                    <a href="https://alpacasweatr.herokuapp.com/">Sweatr</a>
                </h3>
                <p>A basic Ruby on Rails website for selling handmade knitware made in Peru by artisan craftswomen.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="http://director-karl-30485.bitballoon.com/">
                    <img class="img-responsive" src="/public/img/laleche.jpg" alt="">
                </a>
                <h3>
                    <a href="http://director-karl-30485.bitballoon.com/">Cebichería La Leche</a>
                </h3>
                <p>A static website for a cebiche restaurant in Lima, Peru.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="https://uneteperu.github.io/">
                    <img class="img-responsive" src="/public/img/unete.jpg" alt="">
                </a>
                <h3>
                    <a href="https://uneteperu.github.io/">Unete</a>
                </h3>
                <p>A static website for an organisation that helps students from socially and economically disadvantaged backgrounds create networks and find employment.</p>
            </div>
        </div>
        <!-- /.row -->
    
    <% include ../partials/footer %>


    <% include ../partials/scripts %>
  </body>
</html>
