<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>

  <body>
    
  <% include ../partials/nav %>    

    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container anchor" id="abt">
      <div class="abouta">
        <div class="header leander">
          <h3>About me</h3>
          <p>I have a degree in European Community Studies, a graduate Diploma in Economics and a Master's degree in Economics with special reference to Latin America. I speak fluent English, French, German, Luxembourgish and Spanish and I have lived in Europe, the Persian Gulf and in Latin America. A year ago, in 2015, I became interested in the web and its technologies. So I decided to learn to code. I then did an online web development course offered by Careerfoundry. Below is a list of my coding skills and a short version of my current CV.</p>
        </div><!--end header-->
      </div><!-- abouta -->

      <div class="jumbotron" id="primero">
        <div class="black">
          <h3 class="miskills">Programming skills</h3>
            <div class="codingskillz">
              <ul>
              <li>HTML and CSS</li>
              <li>Bootstrap Front End Framework</li>
              <li>Ruby on Rails MVC Framework</li>
              <li>User Authentication and Authorization</li>
              <li>Git Version Control</li>
              <li>Heroku</li>
              </ul>
            </div>
        </div><!--black-->
  
        <div class="row"> 
        <div class="modal-button">
          <!-- Large modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">An abridged CV</button>

          <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static"  data-keyboard="false">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Waseem's CV</h4>
                </div>
                <div class="modal-body">
                  <embed id="modalembed" src="/public/img/Waseem Nawaz CV English short.pdf">
                </div>
              </div>
            </div>
          </div>
        </div><!-- modal-button -->
        </div><!--row-->
      </div><!-- jumbotron -->
      <!--/div--><!-- abouta -->
    </div><!-- end container abt -->
   
    
    
    <% include ../partials/footer %>


    <% include ../partials/scripts %>
  </body>
</html>
