<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>

  <body>
    <% include ../partials/nav %>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container anchor" id="intro">
      <div class="firstpage">
        <h3>Hi. I’m Waseem and you should hire me for your project(s)!</h3>
        <p>I was born in Luxembourg. I went to school in Luxembourg, the UAE and the United Kingdom, where I also went to university. I later worked in Luxembourg, Nicaragua and Peru. My professional background is mainly non-profit and tourism. I even had a restaurant of my own at one point (I did most of the sweets and cakes there), so I have an entrepreneurial streak as well. I love getting to know different cultures and I have a special interest for Latin America, since I lived there for such a long time. I like learning languages (most recently Portuguese), spending time with friends, conversations, the gym (I try to do my best...), amongst other things. Scroll down to find out more about me!</p>
      </div>
      <div class="threetexts">
      </div> <!-- threetexts -->
          
    <div class="trabajos">
      <div class="row" id="links">
        <div class="col-md-3 col-xs-6"><a href="/artist/"><img src="/public/img/snow1.jpg" class="works img-responsive fadez"></a></div><!-- col -->
        <div class="col-md-3 col-xs-6"><a href="/public/img/snow3.jpg"><img src="/public/img/snow3.jpg" class="works img-responsive fadez"></a>
        </div>
        <div class="col-md-3 col-xs-6"><a href="/public/img/blacktee.jpg"><img src="/public/img/blacktee.jpg" class="works img-responsive fadez grey"></a>
        </div>
        <div class="col-md-3 col-xs-6"><a href="/public/img/snow4.jpg"><img src="/public/img/snow4.jpg" class="works img-responsive fadez crazy"></a>
        </div> 
      </div><!--row-->
      <div class="row" id="liinks">
        <div class="col-md-3 col-xs-6"><a href="/public/img/IMG_1569.jpg"><img src="/public/img/IMG_0712manlisboa.jpg" class="works img-responsive fadez"></a>
        </div>
        <div class="col-md-3 col-xs-6"><a href="/public/img/IMG_0654.jpg"><img src="/public/img/IMG_0654.jpg" class="works img-responsive fadez"></a>
        </div>
        <div class="col-md-3 col-xs-6"><a href="/public/img/nata1.jpg"><img src="/public/img/nata1.jpg" class="works img-responsive fadez"></a>
        </div>
        <div class="col-md-3 col-xs-6"><a href="/public/img/IMG_0987.jpg"><img src="/public/img/IMG_0987.jpg" class="works img-responsive fadez grey"></a>
        </div>
      </div>
    </div><!--end trabajos-->
  </div><!--container end -->

    <% include ../partials/footer %>
    <% include ../partials/scripts %>
  </body>
</html>
